.businessCard{
    padding: 20px;
    width: 90%;
    height: 180px;
    border: 1px solid #0f1f1f;
    background-color: #ECECEC;
    line-height: .8rem;
    margin: auto;
    margin-bottom: 10px;
}
.image{
    height: 20px;
    width: 20px;
}